{% extends "base_generic.html" %}

{% block content %}
first, select the team on the left lane and the team on the right lane<br>
selecting a team should either do an htmx call, or a js thing to populate the players from that team

<div class="row">
    <div class="col-sm-4">
        <table class="table">
            <tr>
                <th>Player name</th>
                <th>Handicap</th>
            </tr>
             <tr>
                <td>
                    <input type="search" name="search" id="search"
                        placeholder="Search for player"
                        hx-post={% url 'bowling:bowler_list' %}
                        hx-trigger="input changed delay:150ms, search"
                        hx-indicator=".htmx-indicator"
                        hx-target="#left_1"
                        list="left_1" >
                    <datalist id="left_1">
                        <div id="left_1">
                       </div>
                    </datalist>
                </td>
                <td>enter player 1 handicap</td>
            </tr>
        </table>
    </div>

    <div class="col-sm-4">
         <table class="table">
            <tr>
                <th>Player name</th>
                <th>Handicap</th>
            </tr>
             <tr>
                <td>search for player 1 here</td>
                <td>enter player 1 handicap</td>
            </tr>
        </table>
   </div>
</div>

{% load static %}
<img src="{% static 'bowling/Mike.jpg' %}" alt="dammit">

{% endblock %}
