{% extends "base_generic.html" %}

{% block content %}
<br>
<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select the league</button>
<div class="dropdown">
    <ul class="dropdown-menu">
        {% for each_league in all_leagues %}
        <li><a class="dropdown-item" href="#">{{ each_league.league_name }}</a></li>
        {% endfor %}
    </ul>
</div>
<br>

Search for players and enter their handicaps.<br>
If a player hasn't bowled before and doesn't have a handicap, enter 0. You will mark them as a new bowler in the next screen.<br><br>

<div class="row">
    <div class="col-sm-4 border">
        Left Team<br>
        <table class="table">
            <tr>
                <th>Player name</th>
                <th>Handicap</th>
            </tr>
             {% for x in "01234" %}
             <tr>
                 <td>
                     <input type="search"
                        name="search"
                        placeholder="Search for player"
                        hx-post={% url 'bowling:bowler_list' %}
                        hx-trigger="input changed delay: 150ms, search"
                        hx-indicator=".htmx-indicator"
                        hx-target="#left_{{ x }}"
                        list="left_{{ x }}">
                     <datalist id="left_{{ x }}">
                         <div id="left_{{ x }}">
                         </div>
                     </datalist>
                 </td>
                 <td><input type="number" placeholder="Handicap"></td>
             </tr>
             {% endfor %}
        </table>
    </div>

    <div class="col-sm-4 border">
        Right Team<br>
         <table class="table">
            <tr>
                <th>Player name</th>
                <th>Handicap</th>
            </tr>
            {% for x in "01234" %}
            <tr>
                <td>
                    <input type="search"
                           name="search"
                           placeholder="Search for player"
                           hx-post={% url 'bowling:bowler_list' %}
                           hx-trigger="input changed delay: 150ms, search"
                           hx-indicator=".htmx-indicator"
                           hx-target="#right_{{ x }}"
                           list="right_{{ x }}">
                    <datalist id="right_{{ x }}">
                        <div id="right_{{ x }}">
                        </div>
                    </datalist>
                </td>
                <td><input type="number" placeholder="Handicap"></td>
            </tr>
            {% endfor %}
       </table>
   </div>
</div>


{% load static %}
<img src="{% static 'bowling/Mike.jpg' %}" alt="dammit">

{% endblock %}
